:root{
    --font-Play:'Playfair Display', serif;
    --font-Montserrat: 'Montserrat', sans-serif;
}
header > h1{
    font-family: var(--font-Play);
    text-align: center;
    font-size:48px;
    width: 587px;
    margin: 0;
    position: relative;        
    height: 64px;
    top: 49px;
    left: 236px;
    line-height: 63.98px;
}
header > p{
    width: 592px;
    height: 51px;
    position: absolute;
    top: 125px;
    left: 261px;
    font-family: var(--font-Montserrat);
    font-weight:500;
    font-size:14px;
    line-height: 17.07px;
}

label{
    height: 50px;
    position: absolute;
    line-height: 20px;
    padding-left: 15px;
    font-weight: 500;
    font-family: var(--font-Montserrat);
}
a{
    height: 24px;   
    top:1530px ;
    position: absolute;
    font-family: var(--font-Montserrat);
    font-weight:400;
    font-size: 16px;
    text-decoration: none;
    color: #BDBDBD;
}
footer{
    position: absolute;
    top: 3030px;
    left: 577px;
    font-family: var(--font-Montserrat);
    font-size: 14px;
    font-weight: 500;
}
.dots{
    width: 13px;
    height: 8px;
    position: absolute;
    top: 131px;
    left: 236px;
}

#cheese{
    width: 969px;
    height: 444px;
    position: absolute;
    top: 219px;
    left: 234px;
}
#ingredients{
    box-sizing: border-box;
    width: 711px;
    position: absolute;
    top: 711px;
    left: 236px;
}
#ingredients > p {
   margin-top: 15px;
   font-size: 15px;
} 
#ingredients > h2{
    margin-bottom: 30px;
    font-family:var(--font-Play);
    font-weight: 700;
}
#ingredients > h3{
    font-family: var(--font-Play);
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;   
}
#ingredients > p > input{ 
    width: 21px;
    height:21px;
}
#titleh3{
    width: 287px;
    height: 48px;
    position: relative;
    top: 26px;
}
#Instructions{
    position: absolute;
    width:548px;
    top: 1382px;
    left: 236px;
    display: flex;
    flex-direction: column;
}
#Instructions > p{
    margin-left: 50px;
    margin-top: 40px;
    font-family: var(--font-Montserrat);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
#Instructions > p > span{
    position: absolute;
    left: 0px;
    width:36px;
    height:36px;
    margin-top: -5px;
    background-color: #F2994A;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:6px ;
    font-size: 24px;
    color: #FFFFFF;
    font-family: var(--font-Montserrat);
    font-weight: 700;
}
#Instructions > h2{
    font-family: var(--font-Play);
    font-weight: 700;
}
#time > p{
    margin-left: -40px;
    margin-top:45px;
}
#time img{
    position: absolute;
    left: 50px;
    margin-top: -40px;
}
#time{
    width: 216px  ;  
    height: 367px;
    position: absolute;
    top: 711px;
    left: 984px;
    border-radius: 12px;
    box-shadow: 0px 0px 20px 0px #00000018;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.yields, .prep, .cook, .totalTime{
    font-family: var(--font-Montserrat);
    color: #BDBDBD;
    font-size: 10px;
}
.sevenHours,.minutes,.onehours,.servings{
    font-family: var(--font-Montserrat);
    font-size: 14px;
}
.yields{
    width: 38px;
    height: 12px;
    position: absolute;
    top: 52px;
    left: 93px;
}
.servings{
    width: 77px;
    height: 17px;
    position: relative;
    top: -25px;
    left: 40px;
    color: #F2994A;
}
.prep{
    width: 58px;
    height: 12px;
    position: absolute;
    top: 115px;
    left: 93px;
}
.minutes{
    width: 80px;
    height: 17px;
    position: relative;
    top: -25px;
    left: 40px;
}
.cook{
    width: 61px;
    height: 12px;
    position: relative;
    top: -45px;
    left: 32px;
}
.onehours{
    width: 43px;
    height: 17px;
    position:absolute;
    top: 193px;
    left: 95px;
}
.totalTime{
    width: 63px;
    height: 12px;
    position: relative;
    top: -45px;
    left: 40px;
}
.sevenHours{
    width: 72px;
    height: 17px;
    position: relative;
    top: -43px;
    left: 40px;
}